@font-face {
  font-family: lato;
  src: url('./Assets/Fonts/Lato-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'lato' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A0A0A;
  color: white
}

code {
  font-family: 'lato' !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(108, 99, 255, 1) 0%, rgba(238, 78, 255, 1) 100%);
  outline: 2px solid #FFF;
  outline-offset: -2px;
  border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(108, 99, 255, 1) 0%, rgba(238, 78, 255, 1) 100%);
}